#type-panel {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

#list-panel {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}
.container {
  border: 2px solid #333;
  padding: 15px 10px;
  box-shadow: 3px 4px grey;
}

textarea {
  border: none;
  border-bottom: 2px solid #333;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 5s;
}
input [type='submit'],
button {
  padding: 10xp 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  color: #273c75;
  background-color: transparent;
}

#searchBar {
  width: 50%;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #080808;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 15px;
}
